@use "../../../scss/" as *;

.welcome {
  @include tablet {
    width: auto;
    height: auto;
    background: url(../../../assets/images/backgroud/home-BG/BG_Frame1.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    margin-top: calc($header-height * 3);
  }
  @include mobile {
    background-position: 50% 50%;
  }

  &__logo {
    display: none;
    @include tablet {
      width: 90%;
      display: block;
      position: absolute;
      bottom: 22%;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    img {
      @include tablet {
        width: 100%;
        margin: 0 auto;
        // filter: drop-shadow(2px 4px 6px #f5ebd0);
      }
    }
  }

  &__info {
    @include flex(flex-end, flex-end);
    position: absolute;
    bottom: 5%;
    right: 15rem;
    @include tablet {
      // display: none;
      @include flex(flex-end, center);
      width: 100%;
      right: 0;
      left: 0;
      margin: 0 auto;
    }

    &__content {
      background-image: url("../../../assets/images/backgroud/Frame_Icon.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 35rem;
      height: 9rem;
      @include tablet {
        width: 45rem;
        height: 11.5rem;
      }

      .info__app {
        padding: 10px 35px;
        @include flex(center, space-around);
        .ten__hover:hover {
          filter: brightness(1.5);
          cursor: pointer;
        }
        .voucherCenter {
          animation: flase 1s ease infinite;
          &:hover {
            animation: none;
          }
        }
        @keyframes flase {
          0% {
            filter: brightness(1.5);
          }
          50% {
            filter: brightness(1);
          }
          100% {
            filter: brightness(1.5);
          }
        }

        &__mobile,
        &__pc,
        &__pay {
          padding-left: 7px;
        }

        &__mobile {
          @include flex(center, center);
          flex-direction: column;

          a ~ a {
            margin-top: 3px;
          }
        }
      }
    }
  }
}
