@use "../../scss/" as *;

.slide {
  z-index: 100;
  position: absolute;
  top: 50%;
  right: -30rem;
  display: flex;
  align-items: center;
  transform: translateX(0);
  transform: translateY(-50%);
  transition: all 0.5s ease;
  @include tablet {
    display: none;
  }

  .slide-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 10rem;
    height: 45rem;
    padding: 7rem 0 0.25rem 0.4rem;
    background: url(../../assets/images/backgroud/Frame_icon_button.png)
      no-repeat;
    background-size: 100% 100%;

    .slide-content-btn {
      width: 7rem;
      height: auto;
      margin-bottom: 0.3rem;

      &:hover {
        filter: brightness(1.5);
        cursor: pointer;
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .voucherCenter {
      animation: flase 1s ease infinite;
      &:hover{
        animation: none;
      }
    }
    @keyframes flase {
      0% {
        filter: brightness(1.5);
      }
      50% {
        filter: brightness(1);
      }
      100% {
        filter: brightness(1.5);
      }
    }

    .slide-content-ground {
      @include flex(center, center);
      flex-wrap: wrap;
      gap: 0.5rem;
      margin: 0.25rem 0 0.5rem;
      .slide-content-ground-btn {
        width: 2.5rem;
        &:nth-of-type(2n) {
          margin-right: 0;
        }
        &:hover {
          filter: brightness(1.5);
          cursor: pointer;
        }
      }
    }
  }
}

.show {
  right: 10px;
}
