@use "../../scss/" as *;

.section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  visibility: hidden;

  video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    right: 0;
    left: 50%;
    transform: translate(-50%);
    @include tablet {
      right: auto;
      display: none !important;
      opacity: 0 !important;
    }
    @include mobile {
      display: none !important;
      opacity: 0 !important;
    }
  }

  &.active {
    visibility: visible;
  }

  // &.active &__content {
  //   transform: scale(1);
  //   opacity: 1;
  // }
}
