@use "../../scss/" as *;

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 1;
  img {
    width: 100%;
  }

  .footer_web {
    display: block;
    @include tablet {
      display: none;
    }
  }
  .footer_mobile {
    display: none;
    @include tablet {
      display: block;
    }
  }
}
