@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$body-bg: #0f0f0f;
$main-color: #ac513b;
$second-color: #0f0f0f;

$color-active: #ac513b;
$color-normal: #4e4e4e;
$txt-title: #ebd095;
$txt-color: #4e4e4e;
$txt-color-white: #fff;

$white: #fff;
$black: #000;

$header-height: 3rem;
$border-radius: 30px;

$mobile-width: 724px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;
